




.mainsame {
  background-color: white;
  color: white;
  
}
.project{
font-size: 40px;
}
.navbar-custom {
  background-color: black;
  color: white;
  font-size: 25px;
}

.navbar-custom .nav-link {
  color: white !important;
  
}

.navbar-custom .navbar-brand {
  color: white !important;
}

.navbar-custom .navbar-toggler-icon {
  color: white !important;
}

.container-content {
  padding-top: 2rem;
}

.pt-5, .pb-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}







/* Project.css */

.navbar-custom {
  background-color:black;
}

.project {
  font-size: 2rem;
  
  color: grey !important;
}

.project:hover{
  color: gray;
}

@media (max-width: 992px) {
  .navbar-custom .me-auto {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .navbar-custom .nav-link {
    flex: 1;
    text-align: center;
  }
}

/* Custom thicker bottom border with animation */
.thick-border {
  position: relative;
  padding-bottom: 5px; /* Adjust padding as needed */
}

.thick-border::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px; /* Thickness of the border */
  background-color: grey; /* Border color */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.thick-border:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

