




.mainsame {
  background-color: white;
  color: white;
  
}
.project{
font-size: 40px;
}
.navbar-custom {
  background-color: black;
  color: white;
  font-size: 25px;
}

.navbar-custom .nav-link {
  color: white !important;
  
}

.navbar-custom .navbar-brand {
  color: white !important;
}

.navbar-custom .navbar-toggler-icon {
  color: white !important;
}

.container-content {
  padding-top: 2rem;
}

.pt-5, .pb-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}







/* Project.css */

.navbar-custom {
  background-color:black;
}

.project {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 992px) {
  .navbar-custom .me-auto {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .navbar-custom .nav-link {
    flex: 1;
    text-align: center;
  }
}
